<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuário Criado</title>
</head>
<body>
<div class="container" style="font-family: Arial; max-width: 600px; margin: auto;">
    <h2>Olá {{nome}},</h2>

    <p>Sua conta foi criada com sucesso!</p>

    <p>Aqui está o seu email e senha associado à sua conta ({{username}}):</p>

    <p><strong>Email: {{email}}</strong></p>
    <p><strong>Senha: {{senha}}</strong></p>

    <p>Agora você pode acessar o sistema com seu email e a senha que cadastrou.</p>

    <br/>
    <p>Se você não é você, por favor ignore este email.</p>
</div>
</body>
</html>